@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white;
  }
}

.relative-container {
  position: relative;
}

.coin-animation {
  position: absolute;
  width: 50px;
  height: 50px;
  animation:
    floatCoin 6s infinite ease-in-out,
    rotateCoin 8s infinite linear;
  z-index: 1;
}

#btc {
  top: -30px;
  left: 20px;
}

#eth {
  top: 50px;
  right: -30px;
}

#sol {
  top: 260px;
  left: -20px;
}

#shiba {
  bottom: -30px;
  right: 80px;
}

@keyframes floatCoin {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotateCoin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseCoin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#btc,
#eth,
#shiba,
#sol {
  animation:
    floatCoin 6s infinite ease-in-out,
    pulseCoin 4s infinite ease-in-out;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-field {
  border: 3px solid #3fbdd0;
  border-radius: 20px;
  transition:
    border-color 0.5s ease,
    box-shadow 0.5s ease;
}

.input-field:focus {
  border-color: #3fbdd0;
  box-shadow: 0 0 10px #3fbdd0;
}
